<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rick Crowther - Advent of Code - Day 10</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header>
        <h1 class="display-1 text-center">Advent of Code</h1>
        <h2 class="display-2 text-center">Day 10</h2>
        <h3 class="display-3 text-center">Rick Crowther</h3>
    </header>
<div class="container-fluid">
    <div class="row">
        <div class="col text-right">
            <a class="btn btn-lg btn-primary" href="part1.php" role="button">Part 1</a>
        </div>
        <div class="col">
            <a class="btn btn-lg btn-primary" href="part2.php" role="button">Part 2</a>
        </div>
    </div>
    <div class="row" style="padding-top:20px">
        <div class="col text-center">
            <p>Working file can be seen here:</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a class="btn btn-lg btn-primary" href="scratchpad.php" role="button">Scratchpad</a>
        </div>
    </div>
</div>
</body>
</html>
