<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rick Crowther - Advent of Code - Day 10 - Part 2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="container-fluid">
        <header>
            <a class="btn btn-lg btn-primary" href="index.php" role="button">Back to Home</a>
        </header>
        <article class="day-desc">
            <h2>--- Day 10: Monitoring Station ---</h2>
            <h2 class="display-1">Part 2</h2>
            <h3 class="display-2">Task</h3>
            <p>Once you give them the coordinates, the Elves quickly deploy an Instant Monitoring Station to the location and discover <span title="The Elves on Ceres just have a unique system of values, that's all.">the worst</span>: there are simply too many asteroids.</p>
            <p>The only solution is <em>complete vaporization by giant laser</em>.</p>
            <p>Fortunately, in addition to an asteroid scanner, the new monitoring station also comes equipped with a giant rotating laser perfect for vaporizing asteroids. The laser starts by pointing <em>up</em> and always rotates <em>clockwise</em>, vaporizing any asteroid it hits.</p>
            <p>If multiple asteroids are <em>exactly</em> in line with the station, the laser only has enough power to vaporize <em>one</em> of them before continuing its rotation. In other words, the same asteroids that can be <em>detected</em> can be vaporized, but if vaporizing one asteroid makes another one detectable, the newly-detected asteroid won't be vaporized until the laser has returned to the same position by rotating a full 360 degrees.</p>
            <p>For example, consider the following map, where the asteroid with the new monitoring station (and laser) is marked <code>X</code>:</p>
            <pre><code>.#....#####...#..
##...##.#####..##
##...#...#.#####.
..#.....X...###..
..#.#.....#....##
</code></pre>
            <p>The first nine asteroids to get vaporized, in order, would be:</p>
            <pre><code>.#....###<em>2</em><em>4</em>...#..
##...##.<em>1</em><em>3</em>#<em>6</em><em>7</em>..<em>9</em>#
##...#...<em>5</em>.<em>8</em>####.
..#.....X...###..
..#.#.....#....##
</code></pre>
            <p>Note that some asteroids (the ones behind the asteroids marked <code>1</code>, <code>5</code>, and <code>7</code>) won't have a chance to be vaporized until the next full rotation.  The laser continues rotating; the next nine to be vaporized are:</p>
            <pre><code>.#....###.....#..
##...##...#.....#
##...#......<em>1</em><em>2</em><em>3</em><em>4</em>.
..#.....X...<em>5</em>##..
..#.<em>9</em>.....<em>8</em>....<em>7</em><em>6</em>
</code></pre>
            <p>The next nine to be vaporized are then:</p>
            <pre><code>.<em>8</em>....###.....#..
<em>5</em><em>6</em>...<em>9</em>#...#.....#
<em>3</em><em>4</em>...<em>7</em>...........
..<em>2</em>.....X....##..
..<em>1</em>..............
</code></pre>
            <p>Finally, the laser completes its first full rotation (<code>1</code> through <code>3</code>), a second rotation (<code>4</code> through <code>8</code>), and vaporizes the last asteroid (<code>9</code>) partway through its third rotation:</p>
            <pre><code>......<em>2</em><em>3</em><em>4</em>.....<em>6</em>..
......<em>1</em>...<em>5</em>.....<em>7</em>
.................
........X....<em>8</em><em>9</em>..
.................
</code></pre>
            <p>In the large example above (the one with the best monitoring station location at <code>11,13</code>):</p>
            <ul>
                <li>The 1st asteroid to be vaporized is at <code>11,12</code>.</li>
                <li>The 2nd asteroid to be vaporized is at <code>12,1</code>.</li>
                <li>The 3rd asteroid to be vaporized is at <code>12,2</code>.</li>
                <li>The 10th asteroid to be vaporized is at <code>12,8</code>.</li>
                <li>The 20th asteroid to be vaporized is at <code>16,0</code>.</li>
                <li>The 50th asteroid to be vaporized is at <code>16,9</code>.</li>
                <li>The 100th asteroid to be vaporized is at <code>10,16</code>.</li>
                <li>The 199th asteroid to be vaporized is at <code>9,6</code>.</li>
                <li><em>The 200th asteroid to be vaporized is at <code>8,2</code>.</em></li>
                <li>The 201st asteroid to be vaporized is at <code>10,9</code>.</li>
                <li>The 299th and final asteroid to be vaporized is at <code>11,1</code>.</li>
            </ul>
            <p>The Elves are placing bets on which will be the <em>200th</em> asteroid to be vaporized.  Win the bet by determining which asteroid that will be; <em>what do you get if you multiply its X coordinate by <code>100</code> and then add its Y coordinate?</em> (For example, <code>8,2</code> becomes <em><code>802</code></em>.)</p>

            <h3 class="display-2">Solution</h3>

            <p>The grid below shows the order in which the asteroids will be destroyed by the laser. The station is highlighted in red. The 200th is highlighted in  Yellow:</p>

            <table class="table table-bordered table-responsive">
                <thead>
                <tr>
                    <th></th>
                    <?php while($count_th_number < $grid['width']){
                        echo '<th>'.$count_th_number.'</th>';
                    $count_th_number++;
                    } ?>
                </tr>
                </thead>
                <tbody>
                <?php foreach($grid['grid'] as $x => $row) {
                echo '<tr>';
                    echo '<td class="row_number">'.$x.'</td>';
                    foreach ($row as $y => $column) {
                        if(isset($asteroid_order[$y . "_" . $x])){
                            if($asteroid_order[$y . "_" . $x] == 200){
                                echo '<td class="best">'.$asteroid_order[$y . "_" . $x].'</td>';
                            }else {
                                echo '<td>'.$asteroid_order[$y . "_" . $x].'</td>';
                            }
                        } else if($y == $station_location['location']['y'] && $x == $station_location['location']['x']){
                            echo '<td class="source">#</td>';
                        } else {
                            echo '<td>'.$column.'</td>';
                        }
                    }
                    echo '</tr>';
                } ?>
                </tbody>
            </table>

            <h4>Final Asteroid to be blown up location = <?php echo array_search (200, $asteroid_order) ?></h4>
            <h1>Part 2 Answer = <?php echo $part2 ?></h1>

        </article>
    </div>
</body>
</html>
